<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h2>here are some camps you are looking for: </h2>
    <a class="btn btn-primary" href="/camps/new" role="button">Create new camp</a>
  </header>

  <div class="row">
      <% camps.forEach((camp) => { %>
        <figure class="figure col-md-3">
          <img src="<%= camp.url %>" class="figure-img img-fluid rounded" alt="some camp">
          <figcaption class="figure-caption"><%= camp.name %></figcaption>
        </figure>
      <% }) %>
  </div>

  <a href="/">Back to the Home Page</a>
</div>
<% include partials/footer %>
