<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to the site. This is Home Page.</h1>
    <a href="/camps">Go to the campgrounds</a>
  </header>
</div>
<% include partials/footer %>
