<% include partials/header %>
<div class="container">
  <h1 class="text-center">Create new camp:</h1>
  <div class="row justify-content-center">

    <form class="form" action="/camps" method="post">
      <fieldset class="form-group">
        <label for="name">Camp name: </label>
        <input type="text" name="name" placeholder="Name.." id="name">
      </fieldset>
      <fieldset class="form-group">
        <label for="imgUrl">Image URL: </label>
        <input type="text" name="url" placeholder="Image url.." id="imgUrl">
      </fieldset>
      <input type="submit">
    </form>
  </div>
<p class="text-center"><a href="/">Back to the Home Page</a></p>
</div>

<% include partials/footer %>
